
<div class="jumbotron jumbotron-fluid ">
  <div class="container text-center">
    <h1 class="display-1 text-uppercase"><strong>About Me</strong></h1>
    <br><br>
    <p class="lead font-italic font-size-4em">I'm Ruby and Rails web designer . I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile & tablet interfaces. I also have skills in other fields like branding, icon design or web development.Currently I'm looking for job  as a Software Developer.</p>
  </div>
</div>
<hr class="my-4">
<div class="jumbotron jumbotron-fluid ">
  <div class="container text-center">
    <h1 class="display-4 text-uppercase"><strong>Skills</strong></h1>
    <br><br>
    <p class="lead font-italic font-size-4em">HTML | CSS | Bootstrap | Ruby  | Ruby on Rails | Figma | Postsql | Git</p>


    </div>
    
</div>

