
<div >
<div class="jumbotron jumbotron-fluid ">
  <div class="container text-center">
    <h1 class="display-1 text-uppercase"><strong>Hey, I'm Olayinka :)</strong></h1>
    <br><br><br><br><br><br>
    <p class="lead display-4 font-italic">I design & build products. Innovation is my passion.</p>
  </div>
</div>
</div>
<div class="position-absolute bottom-75 end-50 ">
  
  <%= link_to 'Check My Work', portfolios_index_path, class:"btn btn-primary btn-large"  %>
</div>


