<div class="jumbotron">
  <h1 class="display-4">Contact Me</h1>
  <p class="lead">Olayinka Oguntola</p>
  <hr class="my-4">
  <p>yinka.oguntola@gmail.com | +234 8032 417595</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>